html, body {
  min-width: 1200px;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;

  backrgound-color: #f2f2f2;
}

body * {
  box-sizing: border-box;
  outline: none;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 -5px 15px 0 rgba(0,0,0,.2);
}

a {
  text-decoration: none;
}

button {
  font: inerit;
  text-align:center;
  vertical-align: middle;
  text-transform: uppercase;
  border:none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* 1. HEADER */

.main-navigation {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.site-navigation {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 15px 0;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a:active, .site-navigation a.active {
  color: #766357
}


.main-header-logo {
  display: block;
  position: relative;
  /* width: 75px; */
  /* height: 70px; */
  margin-top: -15px;
  margin-bottom: -29px;
  font-size: 0;

  /* background-image: url('../img/header/logo.svg'); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-color: green; */
}


/* 2 ИНФОРМАЦИОННАЯ СЕКЦИЯ НА ОСНОВНОЙ СТРАНИЦЕ */
/* 2.1. БАННЕР И ЗАГОЛОВОК */
.main-banner {
  height: 512px;
  background-image:
  url('../img/main-page/main-page-welcome.png'),
  url('../img/main-page/main-page-background-form.png'),
  url('../img/main-page/main-page-background.jpg');
  background-repeat: no-repeat;
  background-color: #88bad8;
  background-position: center 76px, center bottom, center -58px;
  /* Картинка для фона - менять картинку или размеры */
}

.info {
  text-align: center;
}

.info h3 {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.advantage {
  margin:0;
  padding: 50px 350px;
  display:flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.advantage h3 {
  width: 440px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.advantage .text {
  width: 500px;
  line-height: 26px;
}

/* 2.2. ПЯТЬ ПРИЧИН */
/* 2.2.1. ГОЛУБЫЕ КВАДРАТЫ */
.odd {
  margin:0;
  padding:0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  color: #ffffff;
  background-color: #81b3d2;
}

.odd h3 {
  color: #ffffff;
}

.info-cell {
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
  text-align: center;
  padding: 32px 50px 56px;
 }

 .info-section .text {
   margin-top: 20px;
 }

.number:before, .number:after {
  content:'—';
  padding: 0 3px;
}

.info-section-background-1, .info-section-background-2 {
  width: 800px;
  background-repeat: no-repeat;
  background-color: #88bad8;
}

.info-section-background-1 {
  background-image: url('../img/main-page/main-page-info-background-1.jpg');
}

.info-section-background-2 {
  background-image: url('../img/main-page/main-page-info-background-2.jpg');
}

/* 2.2.2. ДОМ, ГАБМБУРГЕР, ПОДАРОК */

.info-section ul {
  list-style: none;
}

.second .features-list {
  margin:0;
  padding:0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.features-item {
  width: 33.33%;
  padding: 44px 50px 80px;
}

.features-item h3 {
  margin: 0 0 22px;
}

.info .icon {
  background-repeat: no-repeat;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 15px;
}

.house {
  width: 75px;
  height: 72px;
  background-image: url('../img/main-page/icon-house.svg');
}

.hamburger {
  width: 74px;
  height: 70px;
  background-image: url('../img/main-page/icon-hamburger.svg');
}

.gift {
  width: 64px;
  height: 76px;
  background-image: url('../img/main-page/icon-gift.svg');
}

/* 2.2.3. СЕРЫЕ КВАДРАТЫ */


.last .features-list {
  margin:0;
  padding:0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #eeeeee;
}

.last .features-item {
  padding-bottom: 65px;
}

/* 3. ПОИСК ОТЕЛЯ НА ОСНОВНОЙ СТРАНИЦЕ */

.main-page-hotel-search {
  margin: 0 auto;
  padding: 0;
  width: 568px;
  text-align: center;
  line-height: 24px;
}

.main-page-hotel-search .caption {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}


.hotel-search-header {
  width: 568px;
  text-align: center;
  padding-top: 44px;
  padding-bottom: 44px;
}

.hotel-search-header .caption {
  margin-bottom: 35px;
}

.hotel-search-button, .hotel-search-submit-button {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 21px;
  font-weight:700;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.hotel-search-button {
  width: 100%;
  padding: 30px;
  background-color: #766357;
}

.hotel-search-button:hover {
  background-color: #604e43;
}

.hotel-search-button:active {
  background-color: #503e33;
}

.hotel-search-button:focus,
.hotel-search-submit-button:focus {
  color: rgba (255, 255, 255, 0.3);
}

/* 3.2 ФОРМА ПОИСКА ОТЕЛЯ НА ГЛАВНОЙ СТРАНИЦЕ */
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}


.hotel-search-show {
  display: block;
  animation: bounce 0.6s;
}

.hotel-search {
  display: none;
  position: relative;
  z-index: 3;
  margin-bottom: -455px;

  width: 568px;
  padding: 55px;
  text-align: left;

  background-color: #fff;
  box-shadow:0 0 15px 0 rgba(0,0,0,.2);
}


.hotel-search .form-row {
  margin: 0;
  margin-bottom: 30px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 700;
  line-height: 26px;
  padding: 10px 0;
}

.hotel-search input {
  padding: 4px 14px;
  background-color: #f2f2f2;
  border:none;
}

.hotel-search input:hover {
  background-color: #ebebeb;
}

.hotel-search input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.label {
  display: inline-block;
  width: 112px;
  margin:0;
}

.input-wrap {
  position: relative;
  display: inline-block;
  width: 340px;
  margin: 0;
  background: #f2f2f2;
}

.input-wrap-date input {
  z-index: 1;
  width: 100%;
  padding: 7px 40px 6px 14px;
  border: 2px solid transparent;
}

.calendar {
  content: "";
  position: absolute;
  z-index: 2;
  font-size: 0;

  width:  21px;
  height: 22px;

  margin-top: -11px;
  right: 10px;
  top: 50%;

  background-color: transparent;
  background-image: url('../img/main-page/calendar.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.calendar:hover {
  background-image: url('../img/main-page/calendar-hover.svg');
}

.calendar:active {
  background-image: url('../img/main-page/calendar-active.svg');
}

.input-wrap-number {
  width: 110px;
}

.label-last {
  width: 70px;
}

.search-input-number{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-number, .search-plus, .search-minus {
  display: inline-block;
  width: 38px;
  height: 38px;
  text-align: center;
  vertical-align: middle;
  margin-left: -4px;
}

.search-minus, .search-plus {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 24px;
  line-height: 21px;
  color: #a9a9a9;
  background-color: #f2f2f2;
}

.search-minus:hover, .search-plus:hover {
  color: #000000;
}

.search-minus:active, .search-plus:active  {
  color: #81b3d2;
}

.hotel-search-submit-button {
  width: 100%;
  margin-top: 25px;
  padding: 15px;
  background-color: #81b3d2;
}

.hotel-search-submit-button:hover {
  background-color: #669ec0;
}

.hotel-search-submit-button:active {
  background-color: #5496bd;
}

.map p {
  position: absolute;
  z-index: 1;
  margin-top: -593px;

  /* background-image: url('../img/main-page/map'); */
  /* background-position: no-repeat; */
  background-color: #f2f1ef;
}

.map iframe {
  position: relative;
  z-index: 2;
}


/* 4. ПОДВАЛ */
.main-footer {
  padding: 23px 0;
}

.main-page-footer {
    position: relative;
    z-index: 3;
    margin-top: -120px;
    background-color: rgba(249,251, 246, 0.9);
}

.footer-container {
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.footer-item {
  width: 33.33%;
  text-align: center
}

.transfer {
  width: 145px;
  margin-right: 250px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.footer-social {
  width: 200px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.social-button {
  display:flex;
  width: 46px;
  height: 46px;
  margin-right: 6px;

  font-size: 0;

  background-color: #81b3d2;
  background-repeat :no-repeat;
  background-position: center;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  opacity: 0.3;
}

.twitter {
  background-image:  url('../img/footer/twitter.svg');
}

.facebook {
  background-image:  url('../img/footer/facebook.svg');
}

.youtube {
  background-image:  url('../img/footer/youtube.svg');
}

.copyright {
  display: flex;
  align-items: center;

  width: 241px;
  margin-left: auto;

  line-height: 26px;
  color: #000000;
}

.copyright-image {
    width: 115px;
    height: 41px;
    margin-left: 6px;
    background-image:  url('../img/footer/logo-htmlacademy.svg');
    background-repeat: no-repeat;
}

.copyright-image:hover {
  background-image:  url('../img/footer/logo-htmlacademy-hover.svg');
}

.copyright-image:active {
  background-image:  url('../img/footer/logo-htmlacademy-active.svg');
}

/* 5.КАТАЛОГ- ФИЛЬТР*/

.filters {
  background-image: url('../img/catalog/catalog-background.jpg');
  background-repeat: no-repeat;
  width: 100%;
}

.filters-form {
  display:flex;
  flex-direction: row;
  align-items: space-between;
  flex-wrap: nowrap;
  width: 100%;
  padding: 30px 72px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-caption {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.filters-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.filters-left, .filters-center {
  width: 255px;
  margin: 0;
  text-align: left;
}

.filters-option {
  margin-top: 23px;
  margin-bottom: 0;
  margin-left: 40px;
}

.filters-left label, .filters-center label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}


.filters-checkbox + label::before,
.filters-checkbox:hover + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  /* border: 2px solid #ffffff; */
  /* border-radius: 2px; */
  left: -40px;
  top: -2px;
  background-image: url('../img/catalog/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters-checkbox:checked + label::after, .filters-checkbox:checked:hover + label::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 24px;
  left: -40px;
  top: -2px;
  background-image: url('../img/catalog/checkbox-on.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* 5.1. ФИЛЬТР СТОИМОСТИ В СУТКИ */

.filters-cost {
  width: 328px;
  margin-left: auto;
  margin-right: 0;
}

.filters-cost legend {
  margin-bottom: 10px;
}

.filters-cost-inputs {
  position: relative;
  margin-bottom: 20px;
  height: 36px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  align-items: center;

  line-height: 32px;
  background-color: transparent;
}

.filters-cost-inputs ::after {
  content: '';
  position: absolute;

  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);

}

.filters-cost-inputs label {
  width: 90px;
  padding-left: 65px;

  display: inline-block;
  font-size: 14px;
  color: #ffffff;

  cursor: pointer;
}

.filters-cost-input {
  width: 50px;
  margin:0;

  font-family: 'PT Sans', Arial, sans-serif;
  color: #ffffff;

  border: none;
  background-color: transparent;
}

.filters-range {
  position: relative;
}

.filters-range-scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.filters-range-bar {
  width: 80%;
  border-bottom: 2px solid #ffffff;
 }

.filters-range-slider {
  position: absolute;
  top: -9px;

  width: 20px;
  height: 20px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 100%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.filters-range-slider:hover {
 background: #1c4f80;
}

.filters-range-slider-min {
  left: 0;
}
.filters-range-slider-max {
  left: 80%;
}

.filter-button {
  margin: 32px 95px;
  margin-bottom: 0;
  padding: 8px 35px;
  font-family: 'PT Sans', Arial, sans-serif;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
}

.filter-button:hover {
  color: #000000;
  background-color: #ffffff;
}

/* 6. КАТАЛОГ-СОРТИРОВКА*/

.catalog-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding: 23px 73px;
  align-items: center;
}
/* 6.1 СОРТИРОВКА ПО ЦЕНЕ... */
.catalog-result, .catalog-sorting {
  color: #000000;
}

.catalog-sorting {
  margin-left: 50px;
}

.catalog-sorting, .catalog-sorting-list {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;
}

.catalog-sorting-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 250 px;
}

.catalog-sorting-item {
  margin-left: 30px;
}

.catalog-sorting-current {
  border-bottom: 1px dotted rgba(255, 255, 255, 0);
}
.catalog-sorting-item-button {
  color: #cccccc;
  background-color: transparent;
}

.catalog-sorting-item-button, .catalog-sorting-item-button:hover{
  padding: 0;
  border-bottom: 1px dotted #81b3d2;
}

.catalog-sorting-current, .catalog-sorting-item-button:hover{
  color: #81b3d2;
}

.catalog-sorting-item:active {
  color: #000000;
  text-decoration: none;
}
/* 6.2 СОРТИРОВКА. ТРЕУГОЛЬНИКИ */

.button-right {
  margin-left: auto;
  margin-right: 0;
}

.catalog-sorting-button {
  width: 11px;
  height: 10px;
  /* margin-top: 12px; */
  background-color: transparent;
  background-repeat: no-repeat;
}

.catalog-sorting-button-up {
  margin-right: 3px;
  background-image: url('../img/catalog/button-up.svg');
}

.catalog-sorting-button-up:hover {
  background-image: url('../img/catalog/button-up-hover.svg');
}

.catalog-sorting-button-up:active,
.catalog-sorting-button-up:checked  {
  background-image: url('../img/catalog/button-up-active.svg');
}

.catalog-sorting-button-down {
  background-image: url('../img/catalog/button-down.svg');
}

.catalog-sorting-button-down:hover {
  background-image: url('../img/catalog/button-down-hover.svg');
}

.catalog-sorting-button-down:active,
.catalog-sorting-button-down:checked,
.catalog-sorting-button-down-active  {
  background-image: url('../img/catalog/button-down-active.svg');
}


/* 7. КАТАЛОГ-СПИСОК РЕЗУЛЬТАТОВ*/
.catalog-list {
  padding: 0;
  list-style: none;
}

.catalog-item {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  padding: 31px 73px;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-item-image {
  margin-right: 30px;
}

.catalog-info {
  margin-top: -23px;
}

.catalog-name{
  margin-bottom: -13px;
}

.catalog-text {
  margin-bottom: 14px;
}

.catalog-result, .catalog-item h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.catalog-item-name {
  color: #000000;
}

.catalog-item-name:hover {
  color: #81b3d2;
}

.catalog-item-name:focus {
  color: #b2b2b2;
}

.catalog-text span {
  display: inline-block;
  width: 111px;
}

.button-more, .button-book {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  padding: 5px 15px;
}

.button-more:active,
.button-book:active {
  color: rgba (255, 255, 255, 0.3);
}

.button-more {
  margin-right: 6px;
  background-color: #81b3d2;
}

.button-more:hover {
  background-color: #669ec0;
}

.button-more:active {
  background-color: #5496bd;
}

.button-book{
  background-color: #766357;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
}

.rating {
  margin-left: auto;
  margin-right: 0;
  display:flex;
  width: 115px;
  flex-wrap: wrap;
  margin-top: -30px;
}

.catalog-rating {
  padding: 3px 15px;
  padding-top: 5px;
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
}

.catalog-stars {
  margin-left: auto;
  margin-right: 0;
  background-image: url('../img/catalog/star.svg');
  background-repeat: space;
  height: 17px;
  margin-top:30px;
  margin-bottom: 46px;
}

.catalog-stars-2 {
  width: 40px;
}

.catalog-stars-3 {
  width: 60px;
}

.catalog-stars-4 {
  width: 80px;
}
