html, body {
  min-width: 1200px;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;

  backrgound-color: #ffffff;
}

a {
  text-decoration: none;
}

button {
  font: inerit;
  text-align:center;
  vertical-align: middle;
  text-transform: uppercase;
  border:none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* 1. HEADER */

.main-navigation {
  padding:0 73px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-header-logo {
  width: 138px;
  height: 70px;
}
/* как сделать его посередине внутри ul site-navigation, если его внутри ul нет? */
/* как сделать, чтобы он вылезал на часть .main-banner? */

.site-navigation {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a:active, .site-navigation a.active {
  color: #766357
}

/* 2 ИНФОРМАЦИОННАЯ СЕКЦИЯ НА ОСНОВНОЙ СТРАНИЦЕ */
/* 2.1. БАННЕР И ЗАГОЛОВОК */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-banner {
  height: 512px;
  background-image:
  url('../img/main-page/main-page-welcome.png'),
  url('../img/main-page/main-page-background-form.png'),
  url('../img/main-page/main-page-background.jpg');
  background-repeat: no-repeat;
  background-color: #88bad8;
  background-position:  center center, center bottom, center;
  /* Картинка для фона - менять картинку или размеры */
}

.info {
  text-align: center;
}

.info h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.advantage {
  margin:0;
  padding: 50px 350px;
  display:flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.advantage h3 {
  width: 440px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.advantage .text {
  width: 500px;
  line-height: 26px;
}

/* 2.2. ПЯТЬ ПРИЧИН */
/* 2.2.1. ГОЛУБЫЕ КВАДРАТЫ */
.odd {
  margin:0;
  padding:0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  color: #ffffff;
  background-color: #81b3d2;
}

.odd h3 {
  color: #ffffff;
}

.odd .text {
    margin-top: 21px;
}

.info-cell {
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 60px;
 }

.reason-1 {
  width: 308px;
  margin: auto;
}

.reason-2 {
  width: 303px;
  margin: auto;
}

.info-section-background-1, .info-section-background-2 {
  width: 800px;
  height: 256px;
  background-repeat: no-repeat;
  background-color: #88bad8;
}

.info-section-background-1 {
  background-image: url('../img/main-page/main-page-info-background-1.jpg');
}

.info-section-background-2 {
  background-image: url('../img/main-page/main-page-info-background-2.jpg');
}

/* 2.2.2. ДОМ, ГАБМБУРГЕР, ПОДАРОК */

.info-section ul {
  list-style: none;
}

.second .features-list {
  margin:0;
  padding:0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.second .features-item {
  width: 304px;
  margin-top: 55px;
  margin-bottom: 85px
}

.info .icon {
  background-repeat: no-repeat;
  margin:auto;
}

.house {
  width: 75px;
  height: 72px;
  background-image: url('../img/main-page/icon-house.svg');
}

.hamburger {
  width: 74px;
  height: 70px;
  background-image: url('../img/main-page/icon-hamburger.svg');
}

.gift {
  width: 64px;
  height: 76px;
  background-image: url('../img/main-page/icon-gift.svg');
}

/* 2.2.3. СЕРЫЕ КВАДРАТЫ */


.last .features-list {
  margin:0;
  padding:0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #eeeeee;
}

.last .features-item {
  width: 270px;
}

.last h3 {
  margin-top: 45px;
}

.last .text {
  margin-top: 25px;
  margin-bottom: 65px;
}


/* 3. ПОИСК ОТЕЛЯ НА ОСНОВНОЙ СТРАНИЦЕ */

.main-page-hotel-search {
  margin: 0;
  padding: 0;
  width: 568px;
  text-align: center;
  line-height: 24px;
}

.main-page-hotel-search .caption {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}


.hotel-search-header {
  width: 568px;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 55px;
}

.hotel-search-header .caption {
  margin-bottom: 35px;
}

.hotel-search-button, .hotel-search-submit-button {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 21px;
  font-weight:700;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.hotel-search-button {
  width: 568px;
  background-color: #766357;
}

.hotel-search-button:hover {
  background-color: #604e43;
}

.hotel-search-button:active {
  background-color: #503e33;
}

.hotel-search-button:focus,
.hotel-search-submit-button:focus {
  color: rgba (255, 255, 255, 0.3);
}

.hotel-search {
  width: 458px;
  margin: 55px;
  margin-bottom: 167px;
  text-align: left;
}
.hotel-search .label, .hotel-search input {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 700;
  line-height: 26px;
}

.-hotel-search .input {
  background-color: #f2f2f2;
}

.hotel-search input:hover {
  background-color: #ebebeb;
}

.hotel-search input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.input-date {
  width: 346px;
  margin-bottom: 30px;
  margin-left: 17px;
  padding: 10px 13px;
}

.calendar {
  font-size: 0;
  background-image: url('../img/main-page/calendar.svg');
}

.calendar:hover {
  background-image: url('../img/main-page/calendar-hover.svg');
}

.calendar:active {
  background-image: url('../img/main-page/calendar-active.svg');
}

.search-input-number{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-number, .search-plus, .search-minus {
  width: 38px;
  text-align: center;
}

.search-minus, .search-plus  {
  line-height: 26px;
}

.search-minus, .search-plus, {
  color: #a9a9a9;
}

.search-minus:hover, .search-plus:hover {
  color: #000000;
}

.search-minus:active, .search-plus:active  {
  color: #81b3d2;
}

.hotel-search-submit-button {
  width: 458px;
  background-color: #81b3d2;
}

.hotel-search-submit-button:hover {
  background-color: #669ec0;
}

.hotel-search-submit-button:active {
  background-color: #5496bd;
}

.map {
  width: 100%;
  height: 748px;
  background-image: url('../img/main-page/map');
  background-position: no-repeat;
  background-color: #f2f1ef;
}

/* 4. ПОДВАЛ */
.main-footer {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 36px 101px;
  padding-left: 132px;

}

.transfer {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  width: 46px;
  height: 46px;
  font-size: 0;
  background-color: #81b3d2;
  background-repeat:no-repeat;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  opacity: 0.3;
}

.twitter {
  background-image:  url('../img/footer/twitter.svg');
}

.facebook {
  background-image:  url('../img/footer/facebook.svg');
}

.youtube {
  background-image:  url('../img/footer/youtube.svg');
}

.copyright {
  text-align: center;
  line-height: 26px;
  color: #000000;
}

.copyright-image {
    width: 115px;
    height: 41px;
    background-image:  url('../img/footer/logo-htmlacademy.svg');
}

.copyright-image:hover {
  background-image:  url('../img/footer/logo-htmlacademy-hover.svg');
}

.copyright-image:active {
  background-image:  url('../img/footer/logo-htmlacademy-active.svg');
}

/* 5.КАТАЛОГ- ФИЛЬТР*/

.filters {
  display:flex;
  flex-direction: column;
  align-items: left;
  flex-wrap: nowrap;
  width: 100%;
  padding: 30px 73px;

}

/* fieldset {
  border: none;
} */

.filters-list {
  list-style: none;
  color: #ffffff;
}

.filter-caption {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.filters-left {
  width: 165px;
  text-align: left;
}

.filters-center {
  width: 183px;
  text-align: left;
}

.filters-cost {
  width: 328px;
}

.filters-cost-inputs{
  border: 2px solid #ffffff;
  background-color: transparent;
}

.filters-cost-input {
  font-family: 'PT Sans', Arial, sans-serif;
  color: #ffffff;
}

.filters-range-scale {
  border-bottom: 2px solid rgba(166, 140, 135, 0.3);
}

.filters-range-bar {
  border-bottom: 2px solid #ffffff;
}

.filters-range-slider {
  background-image: url('../img/catalog/filter-range.jpg');
}

.filters-range-slider:hover {
  background-image: url('../img/catalog/filter-range-hover.jpg');
}

.filter-button {
  font-family: 'PT Sans', Arial, sans-serif;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
}

.filter-button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.filters {
  background-image: url('../img/catalog/catalog-background.jpg');
  background-repeat: no-repeat;
  width: 100%;
}

.filters-checkbox, .filters-checkbox:hover  {
  background-image: url('../img/footer/checkbox-off.svg');
}

.filters-checkbox:checked, .filters-checkbox:checked:hover {
  background-image: url('../img/footer/checkbox-on.svg');
}

/* 6. КАТАЛОГ-СОРТИРОВКА*/

.catalog-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 73px;
  padding-bottom: 37px;
  margin: 0;
}
/* 6.1 СОРТИРОВКА ПО ЦЕНЕ... */
.catalog-sorting {
  font-size: 12px;
  line-height: 18px;
  margin-left: 50px;
  margin-top: 8px;
}

.catalog-sorting-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
  width: 250 px;
/* не получается выровнять */
}

.catalog-sorting-item-button {
  color: #cccccc;
  background-color: transparent;
}

.catalog-sorting-item, .catalog-sorting-item:hover{
  border-bottom: 1px dotted #81b3d2;
}

.catalog-sorting-current, .catalog-sorting-item:hover{
  color: #81b3d2;
}

.catalog-sorting-item:active {
  color: #000000;
  text-decoration: none;
}
/* 6.2 СОРТИРОВКА. ТРЕУГОЛЬНИКИ */

.catalog-sorting-button {
  width: 11px;
  height: 10px;
  background-color: transparent;
}

.catalog-sorting-button-up {
  background-image: url('../img/catalog/button-up.svg');
}

.catalog-sorting-button-up:hover {
  background-image: url('../img/catalog/button-up-hover.svg');
}

.catalog-sorting-button-up:active,
.catalog-sorting-button-up:checked  {
  background-image: url('../img/catalog/button-up-active.svg');
}

.catalog-sorting-button-down {
  background-image: url('../img/catalog/button-down.svg');
}

.catalog-sorting-button-down:hover {
  background-image: url('../img/catalog/button-down-hover.svg');
}

.catalog-sorting-button-down:active,
.catalog-sorting-button-down:checked  {
  background-image: url('../img/catalog/button-down-active.svg');
}


/* 7. КАТАЛОГ-СПИСОК РЕЗУЛЬТАТОВ*/
.catalog-list {
  padding: 0;
  list-style: none;
}
.catalog-item {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  width: 100%;
  padding: 31px 73px;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-item-image {
  height: 90px;
  /* Не получается уменьшить высоту картинки */
  margin-right: 30px;
}

.catalog-info {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 258px;
  flex-wrap: wrap;
  margin-right: 520px;
}

.catalog-info .text {
  margin-right: 40px;
  margin-bottom: 17px;
}

.catalog-result, .catalog-item h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.catalog-item-name:hover {
  color: #81b3d2;
}

.catalog-item-name:focus {
  color: #b2b2b2;
}

.button-more, .button-book {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  padding:5px 0;
}

.button-more:active,
.button-book:active {
  color: rgba (255, 255, 255, 0.3);
}

.button-more {
  width: 110px;
  margin-right: 6px;
  background-color: #81b3d2;
}

.button-more:hover {
  background-color: #669ec0;
}

.button-more:active {
  background-color: #5496bd;
}

.button-book{
  width: 142px;
  background-color: #766357;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
}

.rating {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 115px;
  flex-wrap: wrap;
}

.catalog-rating {
  width: 110px;
  padding: 0 15px;
  padding-top: 5px;
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
}

.catalog-stars {
  background-image: url('../img/catalog/star.svg');
  background-repeat: space;
  height: 17px;
  margin-top:30px;
  margin-bottom: 46px;
}

.catalog-stars-2 {
  width: 45px;
}

.catalog-stars-3 {
  width: 65px;
}

.catalog-stars-4 {
  width: 75px;
}
